* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pagina_detalhe {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px; 
}

.carro-container {
  flex: 1;
  display: flex;
  padding: 20px;
}

.carro-imagem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carro-imagem img {
  width: 100%;
  height: 100%;  
  object-fit: contain;
}

/* Setas */
.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.0);
  color: black;
  border: none;
  font-size: 40px;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 10; 
}

.seta:hover {
  background: rgba(214, 12, 12, 0.1);
  transform: translateY(-50%) scale(1);
}

.seta:first-of-type {
  left: 15px;
}
.seta:last-of-type {
  right: 15px;
}


/* Configurações */
.carro-config {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Montserrat", sans-serif;
}

.carro-config h2 {
  font-size: 24px;
  margin-bottom: 10px;
} 

.carro-config h3 {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.opcao {
  display: flex;
  flex-direction: column;    
  gap: 15px;
  font-size: 20px;
  border: 1px solid rgb(180, 14, 14);
  padding: 20px;
  margin: 10px 10%;
  width: 50%;
  height: 60%;
  display: flex;
  cursor: pointer;    
  border-radius: 1px;  
}

.opcao input {
  display: none;
}

.opcao-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
}

.radio-falso {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  display: inline-block;
  position: relative;
}

.opcao.selecionada .radio-falso {
  background: rgb(229, 6, 144);
  border-color: black;
}

.opcao-titulo {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

/* Infos abaixo */
.opcao-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.finalizacao {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finalizacao p {
  font-weight: bold;
}

.finalizacao button {
  padding: 10px 20px;
  background: #2e2e2e;
  color: white;
  border: none;
  cursor: pointer;
}

/* Parte inferior */
.carro-info-bottom {
  border-top: 1px solid black;
  padding: 15px 25px;
  background: #fafafa;
  font-family: "Montserrat", sans-serif;   
  display: flex;            
  justify-content: space-between;
  align-items: center;
}

.carro-info-bottom h2 {
  font-size: 26px;
  margin: 0;
}

.carro-info-bottom p {
  font-size: 20px;
  margin: 0;
}

.carro-info-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.carro-info-right p {
  font-weight: bold;
  margin: 0;
}

.carro-info-right button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background 0.2s;
}

.carro-info-right button:hover {
  background: #333;
}